.container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.852);
    height: 650px;
    width: 100%;
    margin-top: 10px;
}
.container-1-profile{
   margin-top: 10px;
}
.margin{
    margin-left: 70px;
}
.margin-between-2{
    margin-left: -7px;
}
.container-1-profile-box{
    height: 180px;
    width: 320px;
    background-color: rgba(128, 128, 128, 0.383);
    margin: 8px;
    border-radius: 10px;
    
}
.container-1-profile-box-mic{
    margin-left: 292px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 12px;
}
.name{
   
    color: white;
    margin-left: 10px;
    padding-bottom: 10px;
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 105px;
    margin-top: 8px;
}
.container-2-information{
    background-color: #ffffff;
    width: 330px;
    height: 550px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 15px;
}
.icon-container2{
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
b{
    margin-left: 10px;
    font-size: 18px;
}
.header-2{
    display: flex;
    margin-top: 20px;
}
.cross{
    margin-left: 200px;
}
.container-2-list{
    display: flex;
    margin-top: 40px;
}
.container-2-list-details{
    margin-top: 30px;
    margin-left: 20px;
}
.font-container2-details{
    font-family: serif;
    font-size: 15px;
    margin-left: 5px;
}
.font-container2-details2{
    font-size: 10px;
    margin-top: 50px;
    margin-left: 10px;
}
.footer-image{
    height: 25px;
}
.footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.852);
}
.footer-flex{
    display: flex;
    margin-left: 720px;
}
.footer-1{
    color: white;
    margin-left: 20px;
    margin-top: -20px;
}
.footer-image{
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    margin-: 0px;
}


.card-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    width: 30px;
    padding: 10px;
}

.img1{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 

.img1:hover{
   background-color: gray;
   border-radius: 50%;
}

.img2{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.img2:hover{
   background-color: gray;
   border-radius: 50%;
}

.img3{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 50%;
}

